body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline-editor {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: none;
  outline: none;
  resize: none;
}

.text-editor-tools {
  display: none;
  position: absolute;
  width: 400px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}